= link_to "Add a habit to track", new_habit_path, class: "action"
%h1 Today's Habits
%h3.indent= @today_date
%ul.no-style
  - @habits.each do |habit|
    %li{id: habit.id}
      %span{class: "#{habit.habit_type} tag"}
        = habit.habit_type
      %span.habit-in-list
        = habit.name
      = link_to habit_records_path(habit_id: habit.id, checked_in_on: DateTime.now, check_in_type: "crushed"), method: :post, class: "check-in" do
        = icon "fas", "fist-raised", class: "crushed"
      = link_to habit_records_path(habit_id: habit.id, checked_in_on: DateTime.now, check_in_type: "missed"), method: :post, class: "check-in" do
        = icon "far", "flushed", class: "missed"
      -# = "Going for #{habit.streak}"
