= link_to "Add a habit to track", new_habit_path, class: "action"
%h1 Today's Habits
%h3.indent= @today_date
%ul.no-style
  - @habits.each do |habit|
    %li
      = habit.name
      %span{class: "#{habit.habit_type} tag"}
        = habit.habit_type
