= link_to "Add a habit to track", new_habit_path, class: "action"
%h1 Today's Habits
%h3.indent= @today_date
%ul.no-style
  - @habits.each do |habit|
    %li
      %span{class: "#{habit.habit_type} tag"}
        = habit.habit_type
      = habit.name
      = link_to habit_records_path(habit_id: habit.id, crushed_on: DateTime.now), method: :post do
        = icon "fas", "fist-raised"
      = link_to habit_records_path(habit_id: habit.id, missed_on: DateTime.now), method: :post do
        = icon "far", "flushed"
